@import '../variables';

.categories {
  ul {
    display: flex;

    @media (max-width: 890px) {
      overflow: scroll;
      width: 600px;
    }

    @media (max-width: 735px) {
      //overflow: scroll;
      width: 500px;
    }

    @media (max-width: 650px) {
      //overflow: scroll;
      width: 380px;
    }

    @media (max-width: 450px) {
      //overflow: scroll;
      width: 300px;
    }

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }

      &:last-child{
        margin-right: 0px;
      }
      @media (max-width: 990px) {
      padding: 10px 25px;
      }

    }
  }
}
