@import '../variables';

.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;

    @media (max-width: 1305px) {
      flex-direction: column;
    }
    @media (max-width: 1250px) {
      flex-direction: row;
      margin-left: 20px;
    }
    @media (max-width: 1180px) {
      margin-top: 25px;
    }
    @media (max-width: 1100px) {
      margin-left: 0px;
    }
    
    svg {
      margin-right: 8px;
      @media (max-width: 1250px) {
        transform: rotate(180deg);
      }
    }

    b {
      margin-right: 8px;

      @media (max-width: 1250px) {
        display: none;
      }
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 170px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
