.root{
    position: relative;
}
.search_img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 22px;
    height: 22px;
    opacity: 0.6;
}
.input{
    //width: 250px;
    padding: 10px 25px;
    padding-left: 37px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 16px;

    &:focus{
    border: 1px solid rgba(0, 0, 0, 0.4);
    }
}
.closed_img{
    width: 20px;
    height: 20px;
    opacity: 0.6;
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;

    &:hover{
    opacity: 1.0;

    }
}